@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100 100% 100%;
    --foreground: 222.2 84% 4.9%;

    --thumb: 216 12.2% 83.9%;

    --page: 210 20% 99%;

    --sidebar: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 182 63% 45%;
    --primary-foreground: 210 40% 98%;

    --secondary: 340 75% 55%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --pending: 48 91% 72%;
    --pending-foreground: 210 40% 98%;

    --destructive: 0 60% 66%;
    --destructive-foreground: 210 40% 98%;

    --success: 120 39% 72.4%;
    --success-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    -webkit-text-size-adjust: 100%;
  }
}
